.ecommerceWrapper{
    background: linear-gradient(to bottom, #98b2e6 0%, #0099ff 100%);
    width: 100%;
    height: 80vh;
}
.eCard{
    background: #b3e6ff;
    background: radial-gradient(circle, #b3e6ff, #0099ff, #b3e6ff); /* Standard syntax (must be last) */
    width: 95%;
    height: 75vh;
    border: 3px solid #ffffff !important;
    border-radius: 30px;
}
.eCardBody{
    overflow: hidden;
    overflow-y: auto;

}
h4.fw-bolder{
    text-shadow: 1px 1px #00134d !important;
}
.innerTitleCard{
    background: #3366cc;
    background: radial-gradient(circle, #0099ff, #00334d, #3366cc);
    width: 100%;
    height: 35vh;
    border-radius: 25px;
}
.innerTitleCard p.fw-bold{
    text-shadow: 1px 1px #001a33 !important;
}
.cardHeight{
    background: #b3e6ff;
    background: radial-gradient(circle, #b3e6ff, #cce6ff, #b3e6ff); /* Standard syntax (must be last) */
    height: 38vh;
    border-radius: 25px;
}
.cardHeight img{
    object-fit: 100%;
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.padOff{
    padding: 0%;
}
.infoTextBelow{
    margin: 0;
    width: 90%;
    height: 30%;
    color: #ffffff;
    text-shadow: 2px 2px #000;
    background-color: #00001a;
    opacity: 0.6;
}
.productDetails .modal-content{
    height: 100vh;
}
.otherTitleCard{
    background: #3366cc;
    background: radial-gradient(circle, #0099ff, #00334d, #3366cc);
    border-radius: 25px;
    height: 30vh;
}
.productDetails .insideModal{
    width: 250px;
    height: 250px;
    border-radius: 25px;
}
.productDetails .smallInsideModal{
    background: #3366cc;
    background: radial-gradient(circle, #0099ff, #00334d, #3366cc);
    height: 100px;
    width: 100px;
}
.smallInsideModal img{
    width: 100%;
    height: 100%;
}
.cartContainer{
    width: 85%;
}
.cartCardHeight{
    background: #cce6ff;
    background: radial-gradient(circle, #cce6ff, #b3e6ff, #3366cc);
    border-radius: 25px;
}
.cartCardHeight img{
    object-fit: cover;
    width: 100%;
    height: 25vh;
    border-radius: 25px;
}
.totalCartHeight{
    background: #ffffff;
    background: radial-gradient(circle, #cce6ff, #b3e6ff, #ffffff);
    border-radius: 25px;
}
@media (max-width: 750px){
    .cartContainer{
        width: 100%;
    }   
}
@media (max-width: 450px){
    .productDetails .smallInsideModal{
        height: 60px;
        width: 60px;
    }   
}
